@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Outfit", sans-serif;
    @apply text-gray-700 antialiased leading-relaxed;
  }
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#656D4A]/50 rounded-full hover:bg-[#656D4A];
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-[#656D4A];
  }
}